/* 
_SASS
_GENERAL
_HEADER
 */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900");
* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  margin: 0; }

.container {
  margin: 0 16%; }

.line {
  display: inline-block;
  width: 150px;
  border-bottom: 2px solid #ED145B;
  margin: 1.2em; }

.button {
  background-color: #ED145B;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 40px;
  cursor: pointer; }

header {
  height: 100vh;
  background: #000 url("../../images/header_background.jpg") center/cover;
  color: #FFF;
  font-family: "Lato", sans-serif;
  position: relative;
  min-height: 600px; }
  header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2 * 16%);
    text-align: center; }
    header .header-content .header-slogan {
      font-weight: 300;
      margin: 0;
      text-transform: uppercase; }
      header .header-content .header-slogan span {
        font-weight: 900; }
    header .header-content .header-text {
      font-weight: 300;
      margin: 0;
      padding-bottom: 0.5em; }
    header .header-content .button {
      margin: 3.3em auto; }

.no-content {
  display: none; }

nav {
  height: 5rem;
  line-height: 5rem;
  color: #FFF;
  font-size: 16px;
  font-weight: bold; }
  nav .logo-container {
    display: inline-block; }
    nav .logo-container .logo {
      transform: translate(0, 20%); }
  nav .nav-list {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none; }
    nav .nav-list .nav-item {
      display: inline-block; }
      nav .nav-list .nav-item a {
        color: #FFF;
        text-decoration: none;
        margin-left: 1em; }
    nav .nav-list .nav-active a {
      color: #ED145B; }
  nav label[for="menu-button"] {
    display: none;
    color: #FFF; }

@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    text-align: center;
    display: block; }
    nav .nav-list {
      font-size: 1.3rem;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      nav .nav-list .nav-item a {
        margin: 0; } }
@media (max-width: 767px) {
  nav .logo-container {
    display: block; }
  nav .nav-list .nav-item {
    display: block; }
    nav .nav-list .nav-item:nth-child(1) {
      padding-left: 2.5rem; }
  nav label[for="menu-button"] {
    display: inline;
    float: right;
    font-size: 2.5rem;
    text-shadow: 0 0 3px #FFF;
    cursor: pointer;
    position: relative;
    bottom: 5rem; }

  #menu-button:not(:checked) ~ ul {
    display: none; }

  #menu-button:checked ~ ul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    float: none;
    display: block;
    text-align: center;
    background-color: #000000AA;
    box-shadow: 0 0 5px 2px #000000AA;
    border-radius: 20px; }
    #menu-button:checked ~ ul .nav-item {
      padding-left: 0; } }
.about-section {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #f4f4f4;
  min-height: 430px; }
  .about-section .clippy {
    background-color: #ED145B;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    height: 2rem; }
  .about-section .about-content {
    width: 35%; }
    .about-section .about-content h2 {
      width: 50%;
      font-weight: 300;
      font-style: italic;
      margin-top: 3rem; }
    .about-section .about-content .about-line {
      margin: 0.6rem; }
    .about-section .about-content .see-video {
      text-transform: uppercase;
      color: #ED145B;
      font-weight: 700;
      padding-bottom: 50px; }
      .about-section .about-content .see-video a {
        display: inline-block;
        border: 1px solid #ED145B;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center; }
        .about-section .about-content .see-video a .fa-play {
          transform: translate(0%, -10%);
          color: #ED145B;
          font-size: 0.8rem;
          padding: 5px; }
        .about-section .about-content .see-video a:hover {
          background-color: #ED145B; }
          .about-section .about-content .see-video a:hover .fa-play {
            color: #FFF; }
  .about-section img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 15%); }

@media (min-width: 768px) and (max-width: 1199px) {
  .about-section .about-content h2 {
    width: 100%; }
  .about-section img {
    transform: translate(5%, -10%); } }
@media (max-width: 767px) {
  .about-section {
    min-height: 600px;
    width: 100%;
    text-align: center; }
    .about-section .about-content {
      margin: 0 auto;
      width: 80%; }
      .about-section .about-content h2 {
        width: 100%; }
    .about-section img {
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 25%); } }
.services-section {
  position: relative;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 50px; }
  .services-section h2 {
    font-weight: 300;
    font-style: italic;
    margin: 5rem 0 0; }
  .services-section p {
    font-weight: 300;
    margin: 0 0 3rem; }
  .services-section .row .services .services-icon {
    border-radius: 50px;
    border: 1px solid grey;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    position: relative; }
    .services-section .row .services .services-icon img {
      position: absolute;
      transform: translate(-50%, 35%); }
    .services-section .row .services .services-icon .weird-icon {
      transform: translate(-50%, 60%); }
  .services-section .row .services h5 {
    text-transform: uppercase;
    color: #ED145B;
    /* margin: 20px 0; */ }

.quotes-section {
  background: #000 url("../../images/header_background.jpg") top/cover; }
  .quotes-section .quotes {
    padding: 2rem 0;
    position: relative;
    text-align: center; }
    .quotes-section .quotes [class*="fa-chevron"] {
      color: #8f8f8f;
      position: absolute;
      top: 50%;
      font-size: 2rem;
      transform: translate(0, -50%);
      transition: all 0.3s; }
      .quotes-section .quotes [class*="fa-chevron"]:hover {
        color: #FFF;
        text-shadow: 0 0 3px #FFF; }
    .quotes-section .quotes .fa-chevron-left {
      left: -4%; }
    .quotes-section .quotes .fa-chevron-right {
      right: -4%; }
    .quotes-section .quotes .quote {
      font-family: "Lato", sans-serif; }
      .quotes-section .quotes .quote .quotation-marks {
        font-size: 4rem;
        color: #ED145B;
        transform: translate(0, 18%); }
      .quotes-section .quotes .quote p {
        width: 70%;
        margin: 0 auto;
        line-height: 1.6;
        font-style: italic;
        color: #FFF; }

.prices-section {
  background-color: #f4f4f4;
  position: relative;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  padding: 4rem 0; }
  .prices-section h2 {
    margin: 0 auto;
    font-weight: inherit; }
  .prices-section p {
    width: 60%;
    margin: 0 auto; }
  .prices-section .row .prices {
    min-height: 300px;
    margin-top: 2rem;
    padding: 0.8rem; }

.price-content {
  font-style: normal;
  background-color: #FFF; }
  .price-content .price {
    color: #FFF;
    background-color: #5a5a5a;
    position: relative;
    padding: 0.8rem 0 1.8rem; }
    .price-content .price p {
      font-weight: 700; }
      .price-content .price p span {
        font-size: 3rem; }
    .price-content .price .price-name {
      background-color: #f4f4f4;
      font-weight: 700;
      font-size: 0.8em;
      color: #000;
      text-transform: uppercase;
      margin: 0 auto;
      width: 75%;
      border-radius: 20px;
      line-height: 2.5;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%); }
  .price-content .price-active {
    background-color: #ED145B; }
  .price-content .price-offer-content ul {
    display: inline-block;
    list-style: none;
    padding: 1.5rem 0 0 0; }
    .price-content .price-offer-content ul li {
      line-height: 1.2;
      margin: 0.3rem;
      font-size: 0.9rem; }
  .price-content .price-offer-content button {
    margin-bottom: 2em;
    width: 80%; }

/*# sourceMappingURL=main.css.map */
