/* 
_SASS
_GENERAL
_HEADER
 */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900");
* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  margin: 0; }

.container {
  margin: 0 16%; }

.line {
  display: inline-block;
  width: 150px;
  border-bottom: 2px solid #ED145B;
  margin: 1.2em; }

header {
  height: 100vh;
  background: #000 url("../../images/header_background.jpg") center/cover;
  color: #FFF;
  font-family: "Lato", sans-serif;
  position: relative;
  min-height: 600px; }
  header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2 * 16%);
    text-align: center; }
    header .header-content .header-slogan {
      font-weight: 300;
      margin: 0;
      text-transform: uppercase; }
      header .header-content .header-slogan span {
        font-weight: 900; }
    header .header-content .header-text {
      font-weight: 300;
      margin: 0;
      padding-bottom: 0.5em; }
    header .header-content .button {
      background-color: #ED145B;
      font-family: inherit;
      text-transform: uppercase;
      font-weight: 700;
      color: #FFF;
      border: none;
      width: 150px;
      height: 35px;
      border-radius: 40px;
      margin: 3.3em auto; }

.no-content {
  display: none; }

nav {
  height: 5rem;
  line-height: 5rem;
  color: #FFF;
  font-size: 16px;
  font-weight: bold; }
  nav .logo-container {
    display: inline-block; }
    nav .logo-container .logo {
      transform: translate(0, 20%); }
  nav .nav-list {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none; }
    nav .nav-list .nav-item {
      display: inline-block; }
      nav .nav-list .nav-item a {
        color: #FFF;
        text-decoration: none;
        margin-left: 1em; }
    nav .nav-list .nav-active a {
      color: #ED145B; }
  nav label[for="menu-button"] {
    display: none;
    color: #FFF; }

@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    text-align: center;
    display: block; }
    nav .nav-list {
      font-size: 1.3rem;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      nav .nav-list .nav-item a {
        margin: 0; } }
@media (max-width: 767px) {
  nav .logo-container {
    display: block; }
  nav .nav-list .nav-item {
    display: block; }
    nav .nav-list .nav-item:nth-child(1) {
      padding-left: 2.5rem; }
  nav label[for="menu-button"] {
    display: inline;
    float: right;
    font-size: 2.5rem;
    text-shadow: 0 0 3px #FFF;
    cursor: pointer;
    position: relative;
    bottom: 5rem; }

  #menu-button:not(:checked) ~ ul {
    display: none; }

  #menu-button:checked ~ ul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    float: none;
    display: block;
    text-align: center;
    background-color: #000000AA;
    box-shadow: 0 0 5px 2px #000000AA;
    border-radius: 20px; }
    #menu-button:checked ~ ul .nav-item {
      padding-left: 0; } }
.about-section {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #f4f4f4;
  min-height: 430px; }
  .about-section .clippy {
    background-color: #ED145B;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    height: 2rem; }
  .about-section .about-content {
    width: 35%; }
    .about-section .about-content h2 {
      width: 50%;
      font-weight: 300;
      font-style: italic;
      margin-top: 3rem; }
    .about-section .about-content .about-line {
      margin: 0.6rem; }
    .about-section .about-content .see-video {
      text-transform: uppercase;
      color: #ED145B;
      font-weight: 700;
      padding-bottom: 50px; }
      .about-section .about-content .see-video a {
        display: inline-block;
        border: 1px solid #ED145B;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center; }
        .about-section .about-content .see-video a .fa-play {
          transform: translate(0%, -10%);
          color: #ED145B;
          font-size: 0.8rem;
          padding: 5px; }
        .about-section .about-content .see-video a:hover {
          background-color: #ED145B; }
          .about-section .about-content .see-video a:hover .fa-play {
            color: #FFF; }
  .about-section img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 15%); }

@media (min-width: 768px) and (max-width: 1199px) {
  .about-section .about-content h2 {
    width: 100%; }
  .about-section img {
    transform: translate(5%, -10%); } }
@media (max-width: 767px) {
  .about-section {
    min-height: 600px;
    width: 100%;
    text-align: center; }
    .about-section .about-content {
      margin: 0 auto;
      width: 80%; }
      .about-section .about-content h2 {
        width: 100%; }
    .about-section img {
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 25%); } }
.services-section {
  position: relative;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 50px; }
  .services-section h1 {
    font-weight: 300;
    font-style: italic;
    margin: 5rem 0 0; }
  .services-section p {
    font-weight: 300;
    margin: 0 0 3rem; }
  .services-section .row .services .services-icon {
    border-radius: 50px;
    border: 1px solid grey;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    position: relative; }
    .services-section .row .services .services-icon img {
      position: absolute;
      transform: translate(-50%, 35%); }
    .services-section .row .services .services-icon .weird-icon {
      transform: translate(-50%, 60%); }
  .services-section .row .services h5 {
    text-transform: uppercase;
    color: #ED145B;
    /* margin: 20px 0; */ }

.quotes-section {
  background: #000 url("../../images/header_background.jpg") top/cover; }
  .quotes-section .quotes {
    height: 100%;
    padding: 2rem 0;
    position: relative;
    text-align: center; }
    .quotes-section .quotes [class*="fa-chevron"] {
      color: #8f8f8f;
      position: absolute;
      top: 50%;
      font-size: 2rem;
      transform: translate(0, -50%); }
    .quotes-section .quotes .fa-chevron-left {
      left: -4%; }
    .quotes-section .quotes .fa-chevron-right {
      right: -4%; }
    .quotes-section .quotes .quote {
      font-family: "Lato", sans-serif; }
      .quotes-section .quotes .quote .quotation-marks {
        font-size: 4rem;
        color: #ED145B;
        transform: translate(0, 20%); }
      .quotes-section .quotes .quote p {
        width: 60%;
        margin: 0 auto;
        line-height: 1.6;
        font-style: italic;
        color: #FFF; }

/*

.header-text{
	font: 22px/1.5 'Raleway', sans-serif;
	color: #FFF;
	position: absolute;
	width: 950px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -120%);
	text-align: center;
}

.button {
	position: relative;
	border-radius: 2px;
	background-color: rgb(232, 69, 69);
	width: 200px;
	height: 46px;
	font: bold 13px/1.615 'Raleway', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: background-color 0.5s, box-shadow 0.4s, text-shadow 0.4s;
}

.button span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button:hover {
	box-shadow: 0 0 10px 2px rgba(235, 35, 35, 0.7);
	text-shadow: 0 0 2px #FFF;
    background-color: rgb(235, 35, 35);
}
.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.header-button {
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -150%);
} */

/*# sourceMappingURL=main.css.map */
