// TABLE OF CONTENTS

/* 
_SASS
_GENERAL
_HEADER
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');

// SASS VARIABLES

$main-color: #ED145B;
$text-color: #FFF;
$additional-font-color: #5A5A5A;
$font-main: 'Lato', sans-serif;
$nav-height: 5rem;
$nav-hamburger-size: 2.5rem;
$container-margin: 16%;
$tablets: "(min-width: 768px) and (max-width: 1199px)";
$phones: "(max-width: 767px)";
// _GENERAL

* {
	// outline: 1px solid red;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	margin: 0;
}

.container {
	margin: 0 $container-margin; //check in PSD 21.6%
}

.line {
	display: inline-block;
	width: 150px;
	border-bottom: 2px solid $main-color;
	margin: 1.2em;
}

.button {
	background-color: $main-color;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	border: none;
	width: 150px;
	height: 35px;
	border-radius: 40px;
	cursor: pointer;
}
section {
	font-family: $font-main;
	color: $additional-font-color;
	text-align: center;
}

h5{
	text-transform: uppercase;
	color: $main-color;
	/* margin: 20px 0; */
}

// _HEADER_GENERAL
header {
	height: 100vh; 
	background: #000 url('../../images/header_background.jpg') center/cover;
	color: $text-color;
	font-family: $font-main; 
	position: relative;
	min-height: 600px;
// _HEADER_CONTENT
	.header-content {
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 2 * #{$container-margin});
		text-align: center;
		.header-slogan {
			font-weight: 300;
			margin: 0;
			text-transform: uppercase;
			span {
				font-weight: 900;
			}
		}
		.header-line {} // PUSTAK
		.header-text {
			font-weight: 300;
			margin: 0;
			padding-bottom: 0.5em;
		}
		.button {margin: 3.3em auto;}
	}
}

.no-content {
	display: none;
}

// _NAVIGATION
nav {
	height: $nav-height;
	line-height: $nav-height;
	color: $text-color;
	font-size: 16px;
	font-weight: bold;
	.logo-container {
		display: inline-block;
		.logo {
			transform: translate(0, 20%)
		}
	}
	.nav-list {
		float: right;
		padding: 0;
		margin: 0;
		list-style: none;
		.nav-item {
			display: inline-block;
			a {
				color: $text-color;
				text-decoration: none;
				margin-left: 1em;
			}
		}
		.nav-active {
			a {color: $main-color};
		}	
	}
	label[for="menu-button"] {
		display:none;
		color: $text-color; // mój telefon
	}
}

@media #{$tablets} {
	nav {
		text-align: center;
		display: block;
		.nav-list {
			font-size: 1.3rem;
			width: 100%;
			display: flex; 
			justify-content: space-between;
			.nav-item {
				a {
					margin: 0;
				}
			}
		}
	}
}
@media #{$phones} {
	nav {
		.logo-container {
			display: block;
		}
		.nav-list {
			.nav-item {
				display: block;
			&:nth-child(1) {padding-left: $nav-hamburger-size;}
			}
		}
		label[for="menu-button"] {
			display:inline;
			float: right;
			font-size: $nav-hamburger-size;
			text-shadow: 0 0 3px $text-color;
			cursor: pointer;
			position: relative;
			bottom: $nav-height;
		}

	}
	#menu-button:not(:checked) ~ul {
			display: none;
		}
	#menu-button:checked ~ ul {
		position: absolute;
		top:50%;
		left: 50%;
		width: 70%;
		transform: translate(-50%, -50%);
		float: none;
		display: block;
		text-align: center;
		background-color: #000000AA;
		box-shadow: 0 0 5px 2px #000000AA;
		border-radius: 20px;
		.nav-item {padding-left: 0;}
	}
}

// _ABOUT SECTION

.about-section {
	position: relative;
	font-weight: 300;
	background-color: #f4f4f4;
	text-align: left;
	// height: 80vh;
	min-height: 430px;
	.clippy {
		background-color: $main-color;
		clip-path: polygon(0 0, 0 100%, 100% 0);
		height:2rem;
	}
	.about-content {
		width:35%;
		h2{ width: 50%;
			font-weight: 300;
			font-style: italic;

			margin-top: 3rem;}
		.about-line{margin: 0.6rem}
		p {}
		.see-video {
			text-transform: uppercase;
			color: $main-color;
			font-weight: 700;
			padding-bottom: 50px;
			a {
				display: inline-block;
				border: 1px solid $main-color;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				.fa-play {
					transform: translate(0%, -10%);
					color: $main-color;
					font-size: 0.8rem;
					padding: 5px;
				} 
				&:hover {
					background-color: $main-color;
					.fa-play {color: $text-color;}
				}
			}
		}
	}
	img {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(0%, 15%);
	}
}

@media #{$tablets} {
	.about-section {
		.about-content {
			h2 {width: 100%}
		}
		img {
		transform: translate(5%, -10%);}
	}
}

@media #{$phones} {
	.about-section {
		min-height: 600px;
		width: 100%;
		text-align: center;
		.about-content {
			margin: 0 auto;
			width:80%;
			h2 {width: 100%}
		}
		img {width: 80%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 25%);}
	}
}

// _SERVICES SECTION --- PERFECTO FINITO!!!
.services-section {
	margin-bottom: 3rem;
	h2 { 
		font-weight: 300;
		font-style: italic;
		margin: 5rem 0 0;
	}
	p { 
		font-weight: 300; 
		margin: 0 0 3rem; 
	}
}
.services-icon{
	border-radius: 50px;
	border: 1px solid $additional-font-color;
	display: inline-block;
	height: 100px;
	width: 100px;
	line-height: 100px;
	position: relative;
	img{
		position: absolute;
		transform: translate(-50%, 35%); 
	}
	.weird-icon{transform: translate(-50%, 60%);}
}
// end_SERVICES SECTION --- PERFECTO FINITO!!!

// _QUOTES SECTION --- PERFECTO FINITO!!!
.quotes-section{
	background: #000 url('../../images/header_background.jpg') top/cover;
	.quotes{
		padding: 2rem 0;
		position: relative;
		[class*="fa-chevron"]{
			color: #8f8f8f;
			position: absolute;
			top: 50%;
			font-size: 2rem;
			transform: translate(0, -50%);
			transition: all 0.3s;
			&:hover {color: #FFF;text-shadow: 0 0 3px #FFF;}
		}
		.fa-chevron-left{left: -4%;}
		.fa-chevron-right{right: -4%;}
		.quote{
			font-family: $font-main;
			.quotation-marks{
				font-size: 4rem;
				color: $main-color;
				transform: translate(0, 18%)
			}
			p{
				width:70%;
				margin: 0 auto;
				line-height: 1.6;
				font-style: italic;
				color: $text-color;
			}
		}
	}
}
// end _QUOTES SECTION --- PERFECTO FINITO!!!

// _PRICES SECTION
.prices-section {
	background-color: #f4f4f4;
	position: relative;
	font-weight: 300;
	font-style: italic;
	padding: 4rem 0;
	h2 { 
		margin: 0 auto;
		font-weight: inherit;
	}
	.prices-line{}
	p{
		width: 60%;
		margin: 0 auto;
	}
	.row{
		.prices{
			min-height: 300px;
			margin-top: 2rem;
			padding: 0.8rem;
		}
	}
}
.price-content{
	font-style: normal;
	background-color: #FFF;

	.price{
		color: #FFF;
		background-color: #5A5A5A;
		position: relative;
		padding: 0.8rem 0 1.8rem;
		p{
			font-weight: 700;
			span{font-size: 3rem;}
		}		
		.price-name{
			background-color: #f4f4f4;
			font-weight: 700;
			font-size: 0.8em;
			color: $additional-font-color;
			text-transform: uppercase;
			margin: 0 auto;
			width: 75%;
			border-radius: 20px;
			line-height: 2.5;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
		}
	}
	.price-active{background-color: $main-color;}
	.price-offer-content{
		ul{
			display: inline-block;
			list-style: none;
			padding: 1.5rem 0 0 0;
			li{
				line-height: 1.2;
				margin: 0.3rem;
				font-size: 0.9rem;
			}
		}
		button{margin-bottom: 2em; width: 80%}
	}
}
// end _PRICES SECTION

//_ADDITIONAL_INFO SECTION --- PERFECTO FINITO!!!

.additional-info-section {padding: 5rem 0 3rem}
.info-icon {text-align: center}
.info {
	padding: 0 1.2rem;
	margin-bottom: 1.5rem;
	h5 {margin: 0}
	p {
		font-weight: 300;
		line-height: 1.5;
		color: $additional-font-color;
	}
}
	
// end_ADDITIONAL_INFO SECTION --- PERFECTO FINITO!!!

// _JOIN_US --- PERFECTO FINITO!!!

.join-section {
	background-color: $main-color;
	color: $text-color;
	text-transform: uppercase;
	padding: 2.5rem;
	h2 {
		display: inline-block;
		font-weight: 300;
		span{font-weight: 700}
	}
	button{
		background-color: #fff;
		color: $main-color;
		transform: translate(0, -12%);
		font-size:0.75rem;
		font-weight: 700;
		margin: 0 2.5rem;
	}
}
// end_JOIN_US --- PERFECTO FINITO!!!

// _NEWS --- PERFECTO FINITO!!!
.news-section{
	margin: 80px 0;
	h2{
		font-size: 2rem;
		font-style: italic;
		margin-bottom: 0;
	}
	.news-line{margin: 0;}
	p{	margin: 10px 20% 80px;}
}
	// padding: 0.8rem 0 1.8rem;
.news{
	margin: 0.8rem;
	text-align: left;
	background-color: #f4f4f4;
	[class*="news-photo"] {
		height: 180px;
		&:hover .news-clippy{
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}
	h5, p {font-size: 0.9rem;margin: 0; padding: 1.2rem;}
	p {font-weight: 300;}
	h5 {color: #5A5A5A; padding-bottom: 0;}
}

.news-clippy{
	background-color: $main-color;
	opacity:0.8;
	widows: 100%;
	height: 100%;
	clip-path: polygon(0 95%, 0 95%, 100% 100%, 0% 100%);
	transition: all 0.3s;
	position: relative;
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-35%, -50%);
		font-size: 4rem;
		color: #FFF;
	}
}

.news-photo-1{background: url("../../images/news1.jpg") center/cover}
.news-photo-2{background: url("../../images/news2.jpg") center/cover}
.news-photo-3{background: url("../../images/news3.jpg") center/cover}
.news-photo-4{background: url("../../images/news4.jpg") center/cover}
.news-photo-5{background: url("../../images/news5.jpg") center/cover}
.news-photo-6{background: url("../../images/news6.jpg") center/cover}
// end_NEWS --- PERFECTO FINITO!!!

//_ADDITIONAL_INFO_2 SECTION --- PERFECTO FINITO!!!

.additional-info-2 {
	background: #000 url('../../images/header_background.jpg') center/cover;
}

.info-2 {
	color: #FFF;
	font-weight: 300;
	padding: 6rem 0;
	line-height: 2;
	h2 {
		font-size: 2rem;
		font-style: italic;
		margin: 0;
	}
	.info-2-line {
		margin-bottom: 5px;
	}
	.info-2-text {
		font-size: 15px;
		padding: 0 20% 1.25rem;
	}
}

// end_ADDITIONAL_INFO_2 SECTION --- PERFECTO FINITO!!!
.download-section{
	background-color: #f4f4f4; 
	text-align: left;
	position: relative;
	.container{margin: 0;}
}
.download-content {
	font-weight: 300;
	padding: 6rem 0;
	line-height: 2;
	float: right;
	h2{
		font-size: 2rem;
		font-style: italic;
		margin: 0;
	}
	.download-line {margin-bottom: 5px; margin-left: 0; }
	.download-text {
		font-size: 15px;
		padding-bottom: 2rem;
	}
}
.download-image {
	// position: absolute;
	height:100vh;
	top: 50vh;
	left:0;
	background: url("../../images/download.jpg") center/90% no-repeat;
}

@media #{$tablets} {
	.download-image {
		position: static;
		transform: translate(0,0);
		background: url("../../images/download.jpg") center/56% no-repeat;
		height:80vh;
		margin-top: 3rem;
	}
	.download-content {
		padding: 1rem 20%;
		text-align: center;
		.button{margin-bottom: 4rem;}
	}
	.download-line{margin: 0;}
}

@media #{$phones} {
	.download-image {
		position: static;
		transform: translate(0,0);
		background: url("../../images/download.jpg") center/65% no-repeat;
		height:60vh;
		margin-top: 3rem;}
	.download-content {
		padding: 1rem 20%;
		text-align: center;
		.button{margin-bottom: 5rem;}
	}
	.download-line{margin: 0;}
}

footer {
	background-color: #2b2b2b;
	font-family: $font-main;
	p {
		font-weight: 300;
		display: inline-block;
		color: $text-color;
		text-transform: uppercase;
		line-height: 2.667;
		span {font-weight: 700}
		.footer-dot {color:$main-color}
	}
	.footer-right {float: right;}
}

//może zrobic cos z section lub containerem aby zawierał w sobie passing top i bottom???
